@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #f59e0b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 12 6.5% 15.1%;
    --card: 0 0% 100%;
    --card-foreground: 12 6.5% 15.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 12 6.5% 15.1%;
    --primary: 12 6.5% 15.1%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 12 6.5% 15.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 37.7 92.1% 50.2%;
    --accent-foreground: 0, 0%, 100%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0, 0%, 100%;
    --info: 221.2 83.2% 53.3%;
    --success: 142.1 76.2% 36.3%;
    --warn: 40.6 96.1% 40.4%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    --chart-1: 37.7 92.1% 50.2%;
    --chart-2: 53, 92%, 50%;
    --chart-3: 216, 77%, 36%;
    --chart-4: 249, 72%, 39%;
    --chart-5: 27 87% 67%;
    --chart-6: 37.7 92.1% 50.2%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --info: 198.6 88.7% 48.4%;
    --success: 160.1 84.1% 39.4%;
    --warn: 37.7 92.1% 50.2%;
    --error: 349.7 89.2% 60.2%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 37.7 92.1% 50.2%;
    --chart-2: 53, 92%, 50%;
    --chart-3: 216, 77%, 36%;
    --chart-4: 249, 72%, 39%;
    --chart-5: 27 87% 67%;
    --chart-6: 37.7 92.1% 50.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
